.footer
  background: #f2f2f2
  border-top: 1px solid #ebebeb
  min-width: 980px
  padding-top: 18px
  a
    color: #777
    text-decoration: none
    &:hover
      color: #111
  span
    color: #aaa
  div
    margin-left: 165px
  ul
    margin: 0
    padding-left: 0
    overflow: hidden
    li
      float: left
      padding: 14px 16px

.locationCircle
  +border-radius(100%)
  display: inline-block
  height: 10px
  margin: 6px 4px 9px 0
  vertical-align: middle
  width: 10px
  background: #9e9e9e
