.topBar
  position: relative
  width: 100%
  div
    height: 43px
    margin-left: 165px
    p
      color: #808080

.centerCol
  margin-left: 165px
  width: 620px
  margin-right: 50px
  position: relative
  display: inline-block

.resultsContainer
  display: block
  position: relative
  font-weight: normal
  ul
    padding-left: 0
    margin: 0 auto
    li
      text-align: left
      margin-bottom: 25px
      a
        color: #1a0dab
        font-size: 18px
        cursor: pointer
        line-height: 1.2
        &:hover
          text-decoration: underline
      .wikiLinks
        a
          font-size: small
      cite
        display: block
        font-size: 14px
        font-style: normal
        color: #006621
        line-height: 1.4
      span
        color: #545454
        line-height: 1.4

.ojo
  h3
    display: block
    text-align: left
    color: #222
    height: auto
    padding-bottom: 8px
    font-size: 18px
    line-height: 18px
    font-weight: normal

.cardSection
  display: block
.col
  font-size: 14px
  margin-top: -1px
  display: inline-block
  line-height: 25px
  ul
    padding-left: 0
    padding-right: 23px
    margin-top: 0
    &:first-child
    a
      color: #1a0dab
      &:hover
        text-decoration: underline

.navPages
  table
    margin: 20px 130px
    tr
      td
        vertical-align: top
        text-align: center
        padding: 0
        a
          text-align: center
          color: #4285f4
        span
          height: 40px
          display: block
      .g
        background: url("/images/nav_logo242_hr.png") no-repeat
        background-position: -24px 0
        background-size: 167px
        width: 28px
      .o1
        background: url("/images/nav_logo242_hr.png") no-repeat
        background-position: -53px 0
        background-size: 167px
        width: 20px
      .o
        background: url("/images/nav_logo242_hr.png") no-repeat
        background-position: -74px 0
        background-size: 167px
        width: 20px
      .gle
        background: url("/images/nav_logo242_hr.png") no-repeat
        background-position: -96px 0
        background-size: 167px
        width: 72px
